<section id="about" class="mt-3">
<div class="container py-4">
    <div class="title text-center">
        <img class="title-image" src="/images/logo-.png"/>
        <h2 class="fw-bold">
            تعرف على <span class="text-main">مجال</span>
        </h2>
    </div>
    <div class="mt-5 w-75 mx-auto about-text">
        <p>
            تأسست الشركة في عام 2004، وتعتبر من الشركات الرائدة في مجال تقنية المعلومات.تقدم الشركة مجموعة واسعة من المنتجات والخدمات التي تلبي متطلبات واحتياجات العملاء من مختلف المجالات.
        </p>
        <p>
            تعتمد الشركة في تصميم حلولها على أفضل الممارسات المتبعة، وتحرص على تقديم حلول متكاملة وشاملة وحديثة. تتوافق الشركة مع المعايير الدولية والتطورات التكنولوجية. 
        </p>
        <p>
            تحرص الشركة على نقل خبراتها لعملائها وإقامة شراكات عمل متميزة معهم.
        </p>
        <p>
            يخضع تصميم وتطوير البرامج التي تقدمها الشركة لإجراءات عديدة لضمان الجودة والدقة. يعمل لدى الشركة فريق عمل متخصص ذو خبرة عالية.
        </p>
    </div>
</div>
<div class="container-fluid py-5 bg-main-gradient-rev">
<div class="container text-white">
    <div class="w-75 mx-auto">
        <h2 class="about-vesion my-3">الرؤية</h2>
        <p>
            أن نصبح الخيار الأول والأمثل في مجال تقديم حلول تكنولوجيا المعلومات لعالم المال والأعمال على مستوى المملكة العربية السعودية والشرق الأوسط.
        </p>
        <h2 class="about-vesion my-3">الرسالة</h2>
        <p>
            تسعى مجال إلى المساهمة في بناء مجتمع تقني وإداري متميز، وذلك من خلال تزويد المؤسسات والأفراد بحلول برمجية متنوعة وذات جودة عالية، تلبي متطلباتهم وتساهم في تطوير أعمالهم.
        </p>
    </div>
</div>
</div>
<img class="section-image" src="/images/logo-white.png"/>
</section>