<section id="services" class="mt-1 py-2">
    <div class="container py-3">
        <div class="title text-center">
            <img class="title-image" src="/images/logo-.png"/>
            <h2 class="fw-bold">
                خدماتنا
            </h2>
        </div>
        <div class="mt-4 w-75 mx-auto text-center about-text">
            <p>
                نقدم مجموعة من الخدمات في مجال الحلول البرمجية والخدمات الرقمية الاحترافية التي تحقق أهدافك المرجوة بنجاح
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row gy-3 mx-auto">
            <div class="col-md-6">
                <div class="service-item w-90 py-4 px-3 d-flex align-items-center">
                    <i class="fa fa-solid fa-gears service-icon"></i>
                    <div class="ms-4 mt-3">
                        <h4>تصميم وتطوير الحلول البرمجية</h4>
                        <h5>نعمل على تصميم وتطوير البرامج المالية والمحاسبية والإدارية بجميع اقسامها لمختلف المنشآت والأعمال بما فيها المطاعم..</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item w-90 py-4 px-3 d-flex align-items-center">
                    <i class="fa-brands fa-internet-explorer service-icon"></i>
                    <div class="ms-4 mt-3">
                        <h4>تطوير وبرمجة المواقع</h4>
                        <h5>
                            نقوم بإنشاء الهوية الرقمية على الإنترنت لعملك مما يسمح لها بالازدهار في عالم المواقع الإلكترونية.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item w-90 py-4 px-3 d-flex align-items-center">
                    <i class="fa-solid fa-mobile-screen-button service-icon"></i>
                    <div class="ms-4 mt-3">
                        <h4>تصميم تطبيقات الجوال</h4>
                        <h5>
                            نقوم بإنشاء الهوية الرقمية على الإنترنت لعملك مما يسمح لها بالازدهار في عالم المواقع الإلكترونية.    
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item w-90 py-4 px-3 d-flex align-items-center">
                    <i class="fa-solid fa-people-group service-icon"></i>
                    <div class="ms-4 mt-3">
                        <h4>تقديم الخدمات الاستشارية والتدريبية</h4>
                        <h5>
                            نقوم بإنشاء الهوية الرقمية على الإنترنت لعملك مما يسمح لها بالازدهار في عالم المواقع الإلكترونية.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item w-90 py-4 px-3 d-flex align-items-center">
                    <i class="fa-brands fa-figma service-icon"></i>
                    <div class="ms-4 mt-3">
                        <h4>تصميم واجهات المستخدم UXUI</h4>
                        <h5>
                            نقوم بإنشاء الهوية الرقمية على الإنترنت لعملك مما يسمح لها بالازدهار في عالم المواقع الإلكترونية.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item w-90 py-4 px-3 d-flex align-items-center">
                    <i class="fa-solid fa-computer service-icon"></i>
                    <div class="ms-4 mt-3">
                        <h4>تصميم البرامج والتطبيقات</h4>
                        <h5>
                            نقوم بإنشاء الهوية الرقمية على الإنترنت لعملك مما يسمح لها بالازدهار في عالم المواقع الإلكترونية.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>