<nav class="navbar navbar-expand-lg fixed-top shadow border-5 bg-white w-100 mt-0 p-0">
    <div class="container">
      <a class="navbar-brand text-center" href="">
        <img src="/images/logo.png" class="w-50"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-75 d-flex text-center justify-content-between  mx-auto">
          <li class="nav-item hover-text-container">
            <a class="nav-link hover-text" 
                [routerLink]="['/home']"
                (click)="setActiveSection('home')"
                [class.active]="activeSection === 'home'">
                الرئيسية
            </a>
          </li>
          <li class="nav-item hover-text-container">
            <a class="nav-link hover-text" 
                [routerLink]="['/home']" 
                fragment="about" 
                (click)="setActiveSection('about')"
                [class.active]="activeSection === 'about'">
                من نحن
            </a>
          </li>
          <li class="nav-item hover-text-container">
            <a class="nav-link hover-text" 
                [routerLink]="['/home']" 
                fragment="services" 
                (click)="setActiveSection('services')"
                [class.active]="activeSection === 'services'">
                خدماتنا
            </a>
          </li>
          <li class="nav-item hover-text-container">
            <a class="nav-link hover-text" 
                [routerLink]="['/home']" 
                fragment="systems" 
                (click)="setActiveSection('systems')"
                [class.active]="activeSection === 'systems'">
                انظمتنا
            </a>
          </li>
          <li class="nav-item hover-text-container">
            <a class="nav-link hover-text" 
                [routerLink]="['/home']" 
                fragment="client" 
                (click)="setActiveSection('client')"
                [class.active]="activeSection === 'client'">
                عملائنا
            </a>
          </li>
          <li class="nav-item hover-text-container">
            <a class="nav-link hover-text" [routerLink]="['/blog']"
            routerLinkActive="active"
            (click)="setActiveSection('blog')"
            [class.active]="activeSection === 'blog'">
              المدونة
            </a>
          </li>
          
          <li class="nav-item hover-text-container">
            <button class="btn btn-gradient px-3 py-2" 
                [routerLink]="['/home']" 
                fragment="contact-us">
                تواصل معنا
            </button>
          </li>
          <li class="nav-item hover-text-container">
            <div id="socialIcon" class="d-flex justify-content-center mt-2 align-items-center text-center ms-2">
              <a href="https://www.linkedin.com/in/majalsoft/" target="_blank">
                <i class="fa-brands fa-linkedin fs-5 text-main me-3"></i>
              </a>
              <a href="tel:+966559547633">
                <i class="fa-solid fa-phone fs-5 text-main me-3"></i>
            </a>
            <a href="https://api.whatsapp.com/send/?phone=9665595476338&text&type=phone_number&app_absent=0/" target="_blank">
                <i class="fa-brands fa-whatsapp fs-5 text-main me-3"></i>
            </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>