<nav class="navbar navbar-expand-lg fixed-top shadow border-5 bg-white w-100 mt-0 p-0">
    <div class="container">
      <a class="navbar-brand text-center" href="">
        <img src="/images/logo.png" class="w-50"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-75 d-flex justify-content-around mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">من نحن</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">خدمتنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">انظمتنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">من اعمالنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">عملائنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">المدونة</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-gradient px-3 py-2">تواصل معنا</button>
          </li>
        </ul>
      </div>
      <div id="socialIcon" class="d-flex justify-content-between align-items-center text-center  ms-5">
          <i class="fa-brands fa-linkedin fs-5 text-main me-3"></i>
          <i class="fa-solid fa-phone fs-5 text-main me-3"></i>
          <i class="fa-brands fa-whatsapp fs-5 text-main"></i>
      </div>
    </div>
  </nav>