#statistics
{
    position: relative;
}
.statistics-item .statistics-icon
{
    width: 88px;
    height: 88px;
    padding: 16px;
    font-size: 45px;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: #633996;
}
.section-image
{
    position: absolute;
    width: 370px;
    top: 5%;
    left: 10%;
    transform: rotate(-20deg);
    opacity: 0.2;
}

@media screen and (max-width: 767px) {
    .section-image
    {
        left: 5%;
    }
}