<footer id="footer" class="bg-main-gradient mt-5 pt-5 pb-2">
    <div class="container">
        <div class="row gy-5 gx-4 text-white">
            <div class="col-xl-4 text-center mx-auto">
                <img src="/images/logo-white-name.png" />
                <div class="mt-4 d-flex justify-content-around">
                    <a href="#">
                        <i class="fa-brands fa-linkedin fs-5 text-white"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-phone fs-5 text-white"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-whatsapp fs-5 text-white"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-linkedin fs-5 text-white"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-phone fs-5 text-white"></i>
                    </a> 
                    <a href="#">
                        <i class="fa-brands fa-whatsapp fs-5 text-white"></i>
                    </a>
                </div>
                <h2 class="fs-5 mt-4 lh-base"> وجهتك الأولى لحل مشاكلك التقنية مجال تساعدك على أتمتة أعمالك.</h2>
            </div>
            <div class="col-xl-8">
                <div class="row mx-auto">
                    <div class="col-md-4">
                        <p class="fw-bold ms-5 link-parent">روابط سريعة</p>
                        <ul class="link">
                            <li><a href="">الرئيسية</a></li>
                            <li><a href="">من نحن</a></li>
                            <li><a href="">خدماتنا</a></li>
                            <li><a href="">انظمتنا</a></li>
                            <li><a href="">عملائنا</a></li>
                            <li><a href="">المدونة</a></li>
                            <li><a href="">تواصل معنا</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold ms-5 link-parent">معلومات التواصل</p>
                        <ul class="link text-start ltr">
                            <li><a href="">+966 552525558</a></li>
                            <li><a href="">+966 552525558</a></li>
                            <li><a href="">{{email}}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold ms-5 link-parent">المكتب</p>
                        <h5 class="my-3">شركة مجال سوفت</h5>
                        <h5>الرياض - حي المنصورة</h5>
                        <h5 class="my-3">شارع اسلام اباد - عمارة العارض</h5>
                        <h5>المملكة العربية السعودية</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center text-start text-white mt-3 copyright">جميع الحقوق محفوظة لشركة مجال سوفت ©{{year}}. </p>
    <img class="section-image" src="/images/logo-white.png" />
</footer>