#footer
{
    position: relative;
}
.section-image
{
    position: absolute;
    width: 370px;
    top: 30%;
    left: 3%;
    transform: rotate(-20deg);
    opacity: 0.1;
}
.link-parent
{
    position: relative;
}
.link-parent::after
{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 20%;
    right: -12%;
    border-bottom : 3px solid #fff;
    border-left : 3px solid #fff;
}
.link
{
    list-style-type: none;
    position: relative;
    z-index: 999;
}
.link li
{
    margin-top: 0.5em;
}
.link a
{
    text-decoration: none;
    color: white;
}
.ltr
{
    direction: ltr;
}
.copyright
{
    font-weight: 500;
}
@media screen and (max-width: 1200px) {
    .section-image
    {
        top:40%;
        width: 250px;
        left: 10%;
    }
}