<section id="order-service" class="my-3">
    <div class="container-fluid bg-main-gradient-rev text-white p-5">
        <div class="container w-75 mx-auto">
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        كن شريك النجاح القادم 
                    </h2>
                    <h2>
                        وابدأ قصتك
                    </h2>
                </div>
                <div class="col-md-6 text-center">
                    <button class="btn btn-white px-4 py-2 mt-4">اطلب الخدمة الان</button>
                </div>
            </div>
        </div>
    </div>
    <img class="section-image" src="/images/logo-white.png"/>
    </section>